<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTYbV8-rOYqrT2L6w_1WPdaVOllZtFua4</string>
	<key>GCM_SENDER_ID</key>
	<string>945032935281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myevpanet4</string>
	<key>PROJECT_ID</key>
	<string>evpanet-f3ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>evpanet-f3ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945032935281:ios:8eb806e97444bd3dede8d0</string>
	<key>DATABASE_URL</key>
	<string>https://evpanet-f3ea6.firebaseio.com</string>
</dict>
</plist>